@tailwind base; 
@tailwind components; 
@tailwind utilities; 
:root { color-scheme: dark; } html, body, #root { height: 100%; }
body {
    @apply text-neutral-100 font-sans;
    background: radial-gradient(
        circle at top left,
        rgba(30, 41, 59, 0.8),
        rgba(15, 23, 42, 1)
      ),
      radial-gradient(
        circle at bottom right,
        rgba(15, 23, 42, 1),
        rgba(10, 10, 10, 1)
      );
    background-attachment: fixed;
    background-size: cover;
  }